
a:link {
    text-decoration: none;
    color:#483D8B;
}

a:visited {
    text-decoration: none;
color:#483D8B;
}

a:hover {
    text-decoration: none;
}

a:active {
    text-decoration: none;
}

#calendar-container{
    padding: 12px;
    width: 273px;
    height: 320px;
    text-align: center;
    border: 1px solid #eee;
    border-radius: 10px;
    font-size: 21px;
    font-family: Arial;
    background-image: linear-gradient(#fff, #d3d3d3);
}

#calendar-container>div{
    padding: 2px;
    margin-bottom: 10px;
}

#calendar-header{ background-image:  radial-gradient(#46E0FE, #33B8C1); height:35px
;}
#calendar-month-year{
    margin: 5px; font-size: 28px; font-family: Matura MT Script Capitals;}


#calendar-dates0>table>tr>td{
    padding: 7px;
text-align: center;
}
#week{
    padding: 7px;
text-align: center;
 color:#D9370E;}
#calendar-dates1>table>tr>td{
    padding: 7px;
text-align: center;
}
#calendar-dates2>table>tr>td{
    padding: 7px;
text-align: center;
}
#calendar-dates3>table>tr>td{
    padding: 7px;
text-align: center;
}
#calendar-dates4>table>tr>td{
    padding: 7px;
text-align: center;
}
#calendar-dates5>table>tr>td{
    padding: 7px;
text-align: center;
}
#calendar-dates6>table>tr>td{
    padding: 7px;
text-align: center;
}
#calendar-dates7>table>tr>td{
    padding: 7px;
text-align: center;
}
#calendar-dates8>table>tr>td{
    padding: 7px;
text-align: center;
}
#calendar-dates9>table>tr>td{
    padding: 7px;
text-align: center;
}
#calendar-dates10>table>tr>td{
    padding: 7px;
text-align: center;
}
#calendar-dates11>table>tr>td{
    padding: 7px;
text-align: center;
}
